---
layout: base.njk
pagination:
  data: collections.about
  size: 1
  alias: about
---

<div class="text-container">
  <div class="row">
    <!-- Tab Buttons -->
    <div class="tabs">
      <button class="tab-button" data-target="practice">Practice</button>
      <button class="tab-button" data-target="cv">CV</button>
      <button class="tab-button" data-target="texts">Texts</button>
    </div>

    <!-- Content Sections -->
  <div id="content">
    <div id="practice" class="about-content active">
    <div class="practice-header">
      <div class="quote-container">

      {% if about.data.quote1 or about.data.quoteDe1 %}
        <blockquote class="quote">
         {% if about.data.quote1 %}
          <em class="quote-text" data-lang="en">
            {{ about.data.quote1 | markdownify | safe }}
            {{ about.data.quote2 | markdownify | safe }}
            {{ about.data.quote3 | markdownify | safe }}
            {{ about.data.quote4 | markdownify | safe }}
          </em>
          {% endif %}
          {% if about.data.quoteDe1 %}
             <em class="quote-text" data-lang="de" style="display: none;">
                {{ about.data.quoteDe1 | markdownify | safe }}
                {{ about.data.quoteDe2 | markdownify | safe }}
                {{ about.data.quoteDe3 | markdownify | safe }}
                {{ about.data.quoteDe4 | markdownify | safe }}
              </em>
          {% endif %}
          <div class="quote-author">
          <em>{{ about.data.quoteAuthor | markdownify | safe }}</em>
          </div>
        </blockquote>
      {% endif %}
      </div>
      <div id="language-toggle-about-practice"></div>
      </div>
      <div class="practice-content" data-lang="en">{{ about.data.practiceEn | markdownify | safe }}</div>
      {% if about.data.practiceDe %}
      <div class="practice-content" data-lang="de" style="display: none;">{{ about.data.practiceDe | markdownify | safe }}</div>
    {% endif %}
  </div>

<div id="cv" class="about-content">

  <!-- Biography -->
  <div class="bio">
    <p>{{ about.data.cv_bio }}</p>
  </div>

  <!-- Education Section (Unchanged) -->
  {% if about.data.cv_education is defined and about.data.cv_education %}
    <div class="cv-section">
      <h2>EDUCATION</h2>
      <ul class="cv-list">
        {% for education in about.data.cv_education if education is defined %}
        <li>
          <span class="education">{{ education.year }}</span>
          <span>{{ education.institution }}, {{ education.location }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Grants / Residencies -->
  {% if about.data.cv_grants_residencies is defined and about.data.cv_grants_residencies %}
    <div class="cv-section">
      <h2>GRANTS / RESIDENCIES</h2>
      <ul class="cv-list">
        {% set years = [] %}
        {% for grant in about.data.cv_grants_residencies if grant is defined %}
          {% if not (grant.year in years) %}
            {% set years = years.concat([grant.year]) %}
          {% endif %}
        {% endfor %}

        {% for year in years %}
          <li>
            <span class="cv-year">{{ year }}</span>
            <ul class="cv-details">
              {% for grant in about.data.cv_grants_residencies if grant is defined %}
                {% if grant.year == year %}
                  <li>{{ grant.grant_residency }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Solo Exhibitions -->
  {% if about.data.cv_solo_exhibitions is defined and about.data.cv_solo_exhibitions  %}
    <div class="cv-section">
      <h2>SOLO EXHIBITIONS</h2>
      <ul class="cv-list">
        {% set years = [] %}
        {% for exhibition in about.data.cv_solo_exhibitions if exhibition is defined %}
          {% if not (exhibition.year in years) %}
            {% set years = years.concat([exhibition.year]) %}
          {% endif %}
        {% endfor %}

        {% for year in years %}
          <li>
            <span class="cv-year">{{ year }}</span>
            <ul class="cv-details">
              {% for exhibition in about.data.cv_solo_exhibitions if exhibition is defined %}
                {% if exhibition.year == year %}
                  <li>{{ exhibition.exhibitionTitle }}, {{ exhibition.exhibitionDetails }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Group Exhibitions -->
{% if about.data.cv_group_exhibitions is defined and about.data.cv_group_exhibitions  %}
  <div class="cv-section">
    <h2>GROUP EXHIBITIONS</h2>
    <ul class="cv-list">
      {% set years = [] %}
      {% for exhibition in about.data.cv_group_exhibitions if exhibition is defined %}
        {% if not (exhibition.year in years) %}
          {% set years = years.concat([exhibition.year]) %}
        {% endif %}
      {% endfor %}

      {% for year in years %}
        <li>
          <span class="cv-year">{{ year }}</span>
          <ul class="cv-details">
            {% for exhibition in about.data.cv_group_exhibitions if exhibition is defined %}
              {% if exhibition.year == year %}
                <li>
                  {{ exhibition.exhibitionTitle }}, {% if exhibition.exhibitionDetails %} {{ exhibition.exhibitionDetails }}{% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}



  <!-- Bibliography -->
  {% if about.data.cv_bibliography is defined and about.data.cv_bibliography %}

    <div class="cv-section">
      <h2>BIBLIOGRAPHY</h2>
      <ul class="cv-list">
        {% set years = [] %}
        {% for bibliography in about.data.cv_bibliography if bibliography is defined %}

          {% if not (bibliography.year in years) %}
            {% set years = years.concat([bibliography.year]) %}
          {% endif %}
        {% endfor %}

        {% for year in years %}
          <li>
            <span class="cv-year">{{ year }}</span>
            <ul class="cv-details">
              {% for bibliography in about.data.cv_bibliography if bibliography is defined %}

                {% if bibliography.year == year %}
                  <li>{{ bibliography.title }}, {{ bibliography.publisher }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>







  <div id="texts" class="about-content">
    {% if collections['about-texts'] and about.data.texts %}
      {% for textSlug in about.data.texts %}
        {% set textItem = collections['about-texts'] | getDocumentBySlug(textSlug) %}
        {% if textItem %}
          {% set linkedFullTextSlug = textItem.data.linkedFullText | first %}
          <a href="#" class="text-item-link"><div class="text-item"
              data-text-slug="{{ textItem.data.slug | default('') }}"
              data-text-title="{{ textItem.data.textTitle | escape }}"
              data-text-author="{{ textItem.data.textAuthor | escape }}"
              data-text-details="{{ textItem.data.textDetails | safe }}">

              <div class="text-item-text" data-lang="en" style="display: none;">{{ (textItem.data.fullTextEn or '') | markdownify | safe }}</div>
                {% if textItem.data.fullTextDe %}
                  <div class="text-item-text" data-lang="de" style="display: none;">{{ (textItem.data.fullTextDe or '') | markdownify | safe }}</div>
                  {% endif %}
                  {% if textItem.data.fullTextEs %}
                  <div class="text-item-text" data-lang="es" style="display: none;">{{ (textItem.data.fullTextEs or '') | markdownify | safe }}</div>
                  {% endif %}

            <p class="text-title">{{ textItem.data.textTitle | safe }}</p>
            <p class="text-author">{{ textItem.data.textAuthor | safe }}</p>
            <p class="text-details-preview">
              {{ textItem.data.textDetails }}
            </p>
            <div class="d-md-none more-info-texts">more info</div>
          </div>
          </a>

        {% endif %}
      {% endfor %}
    {% else %}
      <p>No texts available</p>
    {% endif %}
  </div>

        <div id="full-text-view" style="display: none;" class="about-content">
          <div class="button-container-about">
              <div id="back-to-list"><img src="/images/icons_Homepage_v2-02.svg" alt="Back"></div>
              <div id="language-toggle-about"></div>
            </div>
          <div id="text-content">

      <!-- Full text content will be dynamically inserted here -->
        </div>
      </div>
    </div>
  </div>
</div>





{% block scripts %}
  <script src="/about-texts.js"></script>
{% endblock %}
