---
layout: base.njk
pagination:
  data: collections.about
  size: 1
  alias: about
---


<div class="text-container">
  <div class="row">
    <!-- Tab Buttons -->
    <div class="tabs">
      <button class="tab-button" data-target="practice">Practice</button>
      <button class="tab-button" data-target="cv">CV</button>
      <button class="tab-button" data-target="texts">Texts</button>
    </div>

    <!-- Content Sections - add 'markdownify | safe to format markdown-->
    <div id="content">

  <div id="practice" class="about-content active">
    {% if about.data.quote %}
    <blockquote class="quote">
      <em>{{ about.data.quote }}</em>
    </blockquote>
  {% endif %}
    {{ about.data.practice | markdownify | safe }}
  </div>
  <div id="cv" class="about-content">
    {{ about.data.cv | markdownify | safe }}
  </div>
  <div id="texts" class="about-content">
    {{ about.data.texts | markdownify | safe }}
  </div>
</div>

<div id="texts" class="about-content">
  <ul class="exhibition-texts-list">
    {% for text in about.data.exhibitionTexts %}
    <li>
      <button class="exhibition-text-button"
              data-about-text="{{ text.text | safe }}"
              data-about-text-title="{{ text.textTitle }}"
              data-about-text-author="{{ text.author }}"
              data-about-text-description="{{ text.description }}">
        {{ text.textTitle }}
      </button>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="about-exhibition-text" style="display: none;">
  <div id="back-to-grid"><img src="/images/close-thick.svg" onclick="returnToGridView()"></div>
  <div id="about-text-content" class="narrow-container"></div>
</div>

{% block scripts %}
  <script src="/about.js"></script>
{% endblock %}
