---
layout: base.njk
pagination:
  data: collections.exhibitions
  size: 1
  alias: exhibition
  css: exhibitions
---

<div id="exhibitions-main" class="exhibitions-container">
  <div id="content-area">
    <div id="exhibition-grid" class="exhibition-grid">
      {% for exhibition in collections.exhibitions %}
        <div class="exhibition-item">
          <!-- Carousel (clickable) -->
          <div class="carousel-card">

            <div id="carouselExampleControls-{{ exhibition.fileSlug }}" class="carousel slide"
            data-interval="false">




              <div class="carousel-inner">
                {% for image in exhibition.data.images %}
                  <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img
                      class="carousel-image d-block w-300"
                      src="{{ (image | replace('/upload/', '/upload/w_1600,q_auto,f_auto/')) }}"
                      alt="Image from {{ exhibition.data.title }}" loading="lazy">
                  </div>
                {% endfor %}
              </div>
              <div class="carousel-click-area left"></div>
              <div class="carousel-click-area right"></div>
            </div>


          <!-- CSS Snap Scroll (Mobile Only) -->

          <div class="snap-container d-lg-none">
            {% for image in exhibition.data.images %}
            <div class="snap-slide">
              <img class="carousel-image d-block w-300"
                src="{{ (image | replace('/upload/', '/upload/w_1600,q_auto,f_auto/')) }}"
                alt="Image from {{ exhibition.data.title }}" loading="lazy">
            </div>
          {% endfor %}
        </div>

   <div class="carousel-indicators d-lg-none">
              {% for image in exhibition.data.images %}
                <div class="indicator"
                  data-bs-target="#carouselExampleControls-{{ exhibition.fileSlug }}"
                  data-bs-slide-to="{{ loop.index0 }}"
                  {% if loop.first %}class="indicator active" aria-current="true"{% endif %}>
                </div>
              {% endfor %}
            </div>
      </div>

          <!-- Exhibition details (not clickable) -->
          <div class="caption">
            <div class="exhibition-details">
              <div class="exhibition-title"><em>{{ exhibition.data.title }}</em></div>
              <div class="exhibition-location">{{ exhibition.data.locationDate }}</div>
              <div class="exhibition-type">{{ exhibition.data.type }}</div>
              <!--<div class="exhibition-year">{{ exhibition.data.year }}</div>-->
            </div>

            <!-- This is being rendered by javascript -->
            <div class="text-link">
              <div class="show-text"
                data-exhibition-text-title="{{ exhibition.data.exhibitionTextTitle | escape }}"
                data-exhibition-text-location="{{ exhibition.data.exhibitionTextLocation | escape }}"
                data-exhibition-text-curated="{{ exhibition.data.exhibitionTextCurated | escape }}"
                data-exhibition-text-artists="{{ exhibition.data.exhibitionTextArtists | escape }}"
                data-exhibition-text-dates="{{ exhibition.data.exhibitionTextDates | escape }}">

                <!-- Language-specific exhibition text blocks -->
                <div class="exhibition-text" data-lang="en" style="display: none;">{{ (exhibition.data.exhibitionTextEn or '') | markdownify | safe }}</div>
                {% if exhibition.data.exhibitionTextDe %}
                <div class="exhibition-text" data-lang="de" style="display: none;">{{ (exhibition.data.exhibitionTextDe or '') | markdownify | safe }}</div>
                {% endif %}
                {% if exhibition.data.exhibitionTextEs %}
                <div class="exhibition-text" data-lang="es" style="display: none;">{{ (exhibition.data.exhibitionTextEs or '') | markdownify | safe }}</div>
                {% endif %}
                {% if exhibition.data.exhibitionTextPt %}
                <div class="exhibition-text" data-lang="pt" style="display: none;">{{ (exhibition.data.exhibitionTextPt or '') | markdownify | safe }}</div>
                {% endif %}
                {% if exhibition.data.exhibitionTextFr %}
                <div class="exhibition-text" data-lang="fr" style="display: none;">{{ (exhibition.data.exhibitionTextFr or '') | markdownify | safe }}</div>
                {% endif %}
                {% if exhibition.data.exhibitionTextCh %}
                <div class="exhibition-text" data-lang="ch" style="display: none;">{{ (exhibition.data.exhibitionTextCh or '') | markdownify | safe }}</div>
                {% endif %}
                {% if exhibition.data.exhibitionTextKo %}
                <div class="exhibition-text" data-lang="ko" style="display: none;">{{ (exhibition.data.exhibitionTextKo or '') | markdownify | safe }}</div>
                {% endif %}
                <div class="more-info">more info</div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="exhibition-text" style="display: none;">
 <div class="button-container">
  <div id="back-to-grid"><img src="/images/icons_Homepage_v2-02.svg"></div>
    <div id="language-toggle"></div>
  </div>
  <div id="text-content" class="narrow-container">
    <div class="text-header">
      <p class="exhibition-details-title"></p>
    </div>
    <p class="exhibition-details-location"></p>
    <p class="exhibition-details-curated"></p>
    <p class="exhibition-details-artists"></p>
    <p class="exhibition-details-date"></p>
    <div class="exhibition-details-text"></div>
     <data-exhibition-text="{{ (exhibition.data.exhibitionTextEn or '') | escape }}">
  </div>
</div>





{% block scripts %}
  <script src="/exhibitions.js"></script>
  <script src="/carousel.js"></script>
{% endblock %}
