---
layout: base.njk

---

<section class="impressum-container">
<div class="back-button">
    <a href="javascript:history.back()" class="back-arrow">
      &#8592;
    </a>
  </div>
  <div class="impressum-content">
    {{ collections.impressum[0].data.body | markdownify | safe }}
  </div>
</section>
