---
layout: base
removeMainPadding: true

---

{% set slideshow = collections.homepage_slideshow | sort(attribute='data.order') %}

{% if slideshow.length > 0 %}
<div class="slideshow">
  {% for slide in slideshow %}
    <div class="home-slide {% if loop.first %}active{% endif %}"">
      <img src="{{ slide.data.image }}" alt="{{ slide.data.title }}" class="full-vh">
    </div>
  {% endfor %}
</div>
{% endif %}

{% block scripts %}
  <script src="/index.js"></script>
{% endblock %}
