---
layout: base
---

<body>
  <div class="home-container">
    <div class="home-name" id="name">Marie-Louise Schlutius</div>
  </div>

{% block scripts %}
  <script src="/index.js"></script>
{% endblock %}
