---
layout: base.njk
css: news
---
{% if collections.upcoming and collections.upcoming.length > 0 %}
  {% for newsItem in collections.upcoming %}
    <div class="news-container">
      <p class="news-item title">{{ newsItem.data.title }}</p>
      <p class="news-item">{{ newsItem.data.location }}</p>
      <p class="news-item">{{ newsItem.data.opening or "not specified" }}</p>
      {% set web = newsItem.data.web %}

        {% if web and web | slice(0, 4) != "http" %}
          {% set web = "https://" + web %}
        {% endif %}

      <p class="news-item web">
        <a href="{{ web }}" target="_blank">{{ newsItem.data.web }}</a>
    </div>
  {% endfor %}
{% else %}
  <p>No upcoming exhibitions.</p>
{% endif %}

{% if collections.recent and collections.recent.length > 0 %}
  {% for newsItem in collections.recent %}
    <div class="news-container">
      {% if loop.first %}
        <p class="recent">RECENT</p>
      {% endif %}
      <p class="news-item"><em>{{ newsItem.data.title }}</em></p>
      <p class="news-item">{{ newsItem.data.location }}</p>
      <p class="news-item">{{ newsItem.data.opening }}</p>
       {% set web = newsItem.data.web %}

        {% if web and web | slice(0, 4) != "http" %}
          {% set web = "https://" + web %}
        {% endif %}

      <p class="news-item web">
        <a href="{{ web }}" target="_blank">{{ newsItem.data.web }}</a>
</div>

      {% endfor %}
    {% else %}
      <p>No recent exhibitions.</p>
    {% endif %}

{% if collections.press and collections.press.length > 0 %}
  {% for newsItem in collections.press %}
    <div class="news-container">
      {% if loop.first %}
        <p class="press">PRESS</p>
      {% endif %}
      <p class="news-item"><em>{{ newsItem.data.title }}</em></p>
      <p class="news-item">{{ newsItem.data.magazine }}</p>
      {% set link = newsItem.data.link %}

      {% if link and link | slice(0, 4) != "http" %}
        {% set link = "https://" + link %}
      {% endif %}
      <p class="news-item web">
        <a href="{{ link }}" target="_blank">{{ newsItem.data.link }}</a>
      </p>
    </div>
  {% endfor %}
{% else %}
  <p>No recent press</p>
{% endif %}
