---
layout: base.njk
pagination:
  data: collections.publications
  size: 100
  alias: publications
  css: publications
---
<div id="publications-main" class="publications-container">
  <div class="publications-grid">
    {% for publication in publications %}
      <div class="publication-item" data-category="{{ publication.data.category }}">

        <div class="publication-image-container">
          {% if publication.data.mainImage %}
            <!-- Use catalogueId for grouping Fancybox -->
            <a href="{{ publication.data.mainImage | replace('/upload/', '/upload/w_1600,q_auto,f_auto,dpr_auto/') }}"
   data-fancybox="catalogue-{{ publication.data.catalogueId }}"
   data-caption="{{ publication.data.publicationTitle }}">
  <img src="{{ publication.data.mainImage | replace('/upload/', '/upload/w_1600,c_fit,g_center,q_auto,f_auto,dpr_auto/') }}"
       alt="{{ publication.data.publicationTitle }}">
</a>

{% for galleryImage in publication.data.galleryImages %}
  <a href="{{ galleryImage.image | replace('/upload/', '/upload/w_1600,q_auto,f_auto,dpr_auto/') }}"
     data-fancybox="catalogue-{{ publication.data.catalogueId }}"
     data-caption="{{ galleryImage.caption }}"
     style="display: none;">
  </a>
{% endfor %}

          {% else %}
            <p>No images available for this publication.</p>
          {% endif %}
        </div>

        <div class="publication-text">
          <h2 class="pubTitle">{{ publication.data.publicationTitle }}</h2>
          {% if publication.data.publicationTextAuthor %}
            <p class="pubMainInfo">{{ publication.data.publicationTextAuthor }}</p>
          {% endif %}
          <p class="pubDetails">{{ publication.data.publicationDetails }}</p>
          {% if publication.data.designedBy %}
            <p class="pubMainInfo">{{ publication.data.designedBy }}</p>
          {% endif %}
          {% if publication.data.publishedBy %}
            <p class="pubMainInfo">{{ publication.data.publishedBy }}</p>
          {% endif %}
          {% if publication.data.isbn %}
            <p class="pubMainInfo">{{ publication.data.isbn }}</p>
          {% endif %}
          {% if publication.data.publicationPrice %}
            <p class="price">{{ publication.data.publicationPrice }}</p>
          {% endif %}
        </div>

      </div>
    {% endfor %}
  </div>
</div>



{% block scripts %}
  <script src="/publications.js"></script>
{% endblock %}
