---
layout: base.njk
---


<div class="card-container">
  <div class="category-services">
    <p class="category-title-services">Services</p>
  </div>

  <div class="service-container">
    {% for service in collections.services %}
      <div class="service-card">
        <div class="service-content">
          <h2>{{ service.data.title }}</h2>
          <p>{{ service.data.description }}</p>
          <a href="{{ service.data.linkUrl }}" target="_blank" class="services-btn">{{ service.data.linkText }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
