---
layout: base
title: work
---

<div class="card-container">

  <div class="category-heading" id="category-articles">
    <div class="filter-dropdown">
      <button id="filter-toggle" class="filter-toggle" aria-label="Show filters">
       <img class="filter-icon" src="/images/filter.png"/>
      </button>
      <div id="filter-dropdown-menu" class="filter-dropdown-menu">
        <!-- Filter buttons will be injected here by JS -->
      </div>
    </div>
    <p class="heading">Work</p>
  </div>


  <!-- Dynamically Rendered Categories -->
  {% for category in collections.workCategories %}
    <div class="category" id="category-{{ category.slug }}">
      <p class="category-title">{{ category.categoryName }}</p>
    </div>
     <div class="work-cards-container {{ category.slug }}">
      {% if category.works.length > 0 %}
        {% for work in category.works %}

          <div class="work-card {% if loop.index > 3 %}hidden-card{% endif %}"
            data-title="{{ work.data.title }}"
            data-date="{{ work.data.published }}"
            data-summary="{{ work.data.summary }}"
            data-link="{{ work.data.link }}">

            <p class="tag" data-tag="{{ work.data.tag }}">{{ work.data.tag }}</p>

            <p class="article-title">
              <a href="{{ work.data.link }}" target="_blank">{{ work.data.title }}</a>
            </p>
            <button class="article-btn" data-toggle="modal" data-target="#articleModal">Mehr</button>
          </div>
        {% endfor %}

        <!-- Add an arrow card if there are more than 3 works -->
        {% if category.works.length > 3 %}
          <div class="arrow-card" data-expanded="false">
            <span class="arrow-icon">↓</span>
          </div>
        {% endif %}
      {% else %}
        <p>No works found for this category.</p>
      {% endif %}
    </div>
  {% endfor %}
</div>

<!-- Modal -->
<div class="modal" id="articleModal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <h2 id="modal-title"></h2>
    <p id="modal-date"></p>
    <p id="modal-summary"></p>
    <div id="modal-link-container"></div> <!-- Placeholder for the button -->
  </div>
</div>

{% block scripts %}
  <script src="/work.js"></script>
  <script src="/modal.js"></script>
{% endblock %}
