---
layout: base.njk
title: "Works"
pagination:
  data: collections.works
  size: 100
  alias: work
---


<div id="works-main" class="works-container">
  <!-- Filter Buttons -->
  <div id="filter-buttons" class="filter-buttons">
    <button class="filter-button active" data-filter="">All</button>
    <!-- Categories will be populated here by JavaScript -->
  </div>

<div class="works-grid">
  {% for work in collections.works %}
    <div class="work-item" data-category="{{ work.data.category }}" data-medium="{{ work.data.medium }}" data-format="{{ work.data.format }}">
      {% if work.data.type == "Installation" or work.data.type == "Book" %}
        <div class="desktop-view">
          {% set imageArray = work.data.installationImages if work.data.type == "Installation" else work.data.bookImages %}
          {% for image in imageArray %}
            <a href="{{ (image.image | replace('/upload/', '/upload/w_1600,q_auto,f_auto,dpr_auto/')) }}"
               data-fancybox="{{ work.data.type | lower }}-{{ work.data.name | slugify }}"
               data-caption="
               <div class='artwork-details-works'>
                 <span class='caption-title'><em>{{ work.data.name }}</em></span>,
                 <span class='caption-year'>{{ work.data.year | default('Unknown Year') }}</span>
                 {% if work.data.type == "Installation" %}
                 <span class='caption-medium'>{{ work.data.medium }}</span>
                 {% endif %}
               </div>">
              {% if loop.first %}
                <img src="{{ (image.image | replace('/upload/', '/upload/w_500,c_fit,g_center,q_auto,f_auto,dpr_auto/')) }}"
                     alt="{{ work.data.name }}" class="{{ work.data.type | lower }}-image">
              {% endif %}
            </a>
          {% endfor %}
        </div>

        <div class="mobile-view">
          <div class="mobile-slideshow-works">
            {% for image in imageArray %}
              <div class="slide">
                <img src="{{ (image.image | replace('/upload/', '/upload/w_500,c_fit,g_center,q_auto,f_auto,dpr_auto/')) }}" alt="{{ work.data.name }}">
              </div>
            {% endfor %}
          </div>
          <div class="carousel-indicators-works carousel-indicators carousel">
            {% for image in imageArray %}
              <div class="indicator-works" {% if loop.first %}class="active"{% endif %}></div>
            {% endfor %}
          </div>
        </div>

      {% else %}
        <!-- Single work content -->
        <a href="{{ (work.data.image | replace('/upload/', '/upload/w_1600,q_auto,f_auto,dpr_auto/')) }}"
           data-fancybox="gallery"
           data-caption="
           <div class='artwork-details-works'>
             <span class='caption-title'><em>{{ work.data.name }}</em></span>,
             <span class='caption-year'>{{ work.data.year }}</span>,
             <span class='caption-dimensions'>{{ work.data.dimensions }}</span>,
             <span class='caption-medium'>{{ work.data.medium }}</span>
           </div>">
          <img src="{{ (work.data.image | replace('/upload/', '/upload/w_500,g_center,q_auto,f_auto,dpr_auto/')) }}"
            alt="{{ work.data.name }}">
        </a>
      {% endif %}
    </div>

    <div class="mobile-caption ">
      <span><em>{{ work.data.workMobileName or '' | markdownify }}</em></span>,
      <span>{{ work.data.workMobileYear or '' | markdownify }}</span>
      <div>
        <span>{{ work.data.workMobileSize or '' | markdownify }}</span>,
        <span>{{ work.data.workMobileMaterial or '' | markdownify }}</span>
      </div>
    </div>
  {% endfor %}
</div>





{% block scripts %}
  <script src="/works.js"></script>
{% endblock %}
