<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles</title>

  <link rel="stylesheet" href="/styles.css/work.css">
  <link rel="stylesheet" href="/styles.css/navbar.css">
  <link rel="stylesheet" href="/styles.css/modal.css">
   <link rel="stylesheet" href="/styles.css/services.css">
    <link rel="stylesheet" href="/styles.css/about.css">
</head>
<body>
  <!-- this is the main content -->
  <div class="navbar">
    <div class="logo">Marie-Louise Schlutius</div>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
</div>

<div class="menu" id="menu">
    <div class="close-btn" onclick="toggleMenu()">&times;</div>
    <a href="index">About</a>
    <a href="work">Work</a>
    <a href="services">Services</a>
</div>



    <div class="main-container {% if removeMainPadding %} no-padding{% endif %}">
      <main>
          {{ content | safe }}
      </main>
      <footer>

      </footer>
    </div>

    <!-- JS -->

    <script src="/index.js"></script>
    <script src="/work.js"></script>
    <script src="/services.js"></script>
    <script src="/navbar.js"></script>
     <script src="/about.js"></script>
</body>
</html>
