body {
  max-width: 100%;
  overflow-x: hidden;
  /* font-family: Roboto; */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}


.about-me-text a[href*="print-journalismus"] {
  text-decoration: underline;
  text-decoration-color: #FFB3EB;
  text-decoration-thickness: 3px;
  color: inherit;
}

.about-me-text a[href*="online-journalismus"] {
  text-decoration: underline;
  text-decoration-color: #F3F2E2;
  text-decoration-thickness: 3px;
  color: inherit;
}

.about-me-text a[href*="digitale-kommunikation"] {
  text-decoration: underline;
  text-decoration-color: #D0BCFF;
  text-decoration-thickness: 3px;
  color: inherit;
}

.about-me-text a[href*="multimedia"],
.about-me-text a[href="#"] {
  text-decoration: underline;
  text-decoration-color: #B0C2E5;
  text-decoration-thickness: 3px;
  color: inherit;
}



.about-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-section .container {
  max-width: 1400px;
}
.cv-section {
  margin-bottom: 30px;
  margin-top: 10px;
}

.cv-section a {
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  background-color: #f3f2e2be;
  border-radius: 20px;

}

.cv-section a:hover {
  background-color: #F3F2E2;
}

.cv-section iframe {
  width: 100%;
  height: 80vh;
  border: none;

}




.img-container {
  text-align: center;
  max-width: 100%;
  border-left: 2px solid black;
  padding-bottom: 20px;
}

p.category-title-about {
  margin: 0;
  background-color: #D1BCFF;
}

.portrait {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 50px auto;
}

.logo a {
  text-decoration: none;
  color: black;
}

.socials a {
  text-decoration: none;
  font-size: 20px;
  margin: 80px 30px 20px 30px;
  padding: 5px 10px;
  color: #2b3035;
  background-color: #f9f7fe;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.socials :hover {
  color: #f9f7fe;
  background-color: #2b3035;
}





.email-link {
  text-decoration: none;
  color: white;
  }

  .email-link:hover {
    color:black;
    text-decoration: none;
  }

  .btn {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    padding: 13px 40px;
    transition: all 150ms ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background: #6CC59B;
}

.btn:hover {
  background: #6bbc97;
}

.btn {
  border: none;
}

#contact {
  font-size: 35px;
}

.box-1 {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding-right: 50px;
}

.row {
  margin-top: 30px;
  flex-wrap: nowrap;
}


.contact-section {
  border-top: 2px solid black;
  width: 50%;
  margin-left: auto;
  padding-top: 50px;
}


.category-title-about {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 40px;;

}

.about-me-text {
  margin-top: 50px;
  padding-right: 20px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  text-align: center;
  height: 50px;
  border-radius: none !important;
}

.category p {
  margin: 0;
}

/* Mobile Styles */
@media (max-width: 992px) {
  .about-container {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    margin: 20px;
  }

  .about-me-text {
    margin-top: 0;
    padding: 0;
  }
  /* Reverse row order to place image first */
  .row {
    flex-direction: column-reverse;
    padding: 0 !important;
  }

  .img-container {
    margin-bottom: 0;
    padding-bottom: 0;
    border-left: none;
  }

  .portrait {
    max-width: 80%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-top: 2px solid black;
    max-width: 100%;;
}

.logo {
  font-size: 25px;
}

.category-title-about {
 font-size: 20px;
 letter-spacing: 5px;
 font-weight: 400;
}

.cv-section iframe {
  height: 60vh;
}

.cv-section {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.box-1 {
  text-align: left;
  padding: 0;
  font-size: 15px;

}

.work-card .date {
  display: none;
}

.contact-me {
  font-size: 15px;
}

}

@media (min-width: 1400px) {

  .container {
    max-width: 1400px !important;
  }
}
