#back-to-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.full-text-details {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 3em;

}

.quote {
  margin-top: 0;
  margin-bottom: 20px;
  width: 50%;
}


.about-content.active {
  display: block;
}


.row {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
}

.about-content {
  font-size: 1.45em;
  line-height: 1.3em;
  display: none;
  margin-top: 2em;
}

.about-content p {
  margin-bottom: 1em;
}


.full-text-details .text-title {

  margin-bottom: 0;
}

.text-title {
  font-weight: 600;
}

.full-text-details .text-author {
  margin-bottom: 0;
}

.text-item {
  margin-bottom: 1em;
  padding: 0.5em;

}

.text-item p {
  margin: 0;
  padding: 0;

}

.text-item-link {
  color: inherit;
  text-decoration: none;
}

.text-item-link:hover {
  color: grey;
  text-decoration: none;
}

.text-item-link:hover .text-title,
.text-item-link:hover .text-author,
.text-item-link:hover .text-details-preview {
  color: grey;
}

.text-item-link,
.text-title,
.text-author,
.text-details-preview {
  transition: color 0.1s ease;
}


.about-content img {
  display: flex;
  margin: 0 auto;
}

.text-title {
  font-style: italic;
  margin-bottom: 0.25em;
  color: #333;
  font-weight: 500;
}

.text-details {
  font-size: 1em;
  line-height: 1.5em;
}

.text-container {
  max-width: 1000px;
  margin: 2.5em auto;
}


.tabs {
  display: block;
  gap: 10px;
  margin: 0 auto;

}

.tab-button {
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 1.62em;
  padding-right: 11px;
  padding-left: 11px;
  outline: none;
  color: #808080;
}

.tab-button:focus:not(:focus-visible) {
  outline: none; /* Removes outline for mouse interactions */
}

.tab-button.active {
  background: white;
  color: black;
}






.exhibition-link {
  text-decoration: none;
  color: black;
}



.main-container.no-padding {
  padding: 0;
}

.main-container {
  padding: 0 1em;
  max-width: 2000px;
  margin: 0 auto;
}

.navbar, .index-title, .works-grid {
  padding-left: 0;
}

#back-to-grid {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

#back-to-grid img {
  max-width: 100%;
  max-height: 100%;

}
