

.contact-container {
  max-width: 1000px;
  margin: 0 auto 100px;;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.45em;;
}

.contact-sections {
  display: flex;
  gap: 100px;

}

.section {
  margin-top: 1em;
}

.social-imprint-sections {
  align-self: flex-start;
  width: 100%;
}

.social-links {
  margin-top: 2em;
  line-height: 1.3em;
}

.social-links a {
  text-decoration: none;
  color: black;
}

.social-links a:hover {
  color: #9D9D9C;
}


.studio p, .gallery p, .contact-section a {
  margin-bottom: 10px;
  line-height: 1.3em;
}

.contact-section a {
  color: black;
  text-decoration: none;
}

.contact-section a:hover {
  cursor: pointer;
  text-decoration: none;
  color: grey;
}

.studio p, .gallery p {
  margin: 0;
}

.studio-email, .gallery-website {
  text-decoration: none;
  color: #007BFF;
}

.studio-email:hover, .gallery-website:hover {
  text-decoration: underline;
}



.footer-links span {
  margin: 0 10px;
}


#cv p {
  margin-bottom: 0.5em;
}



.imprint-container {
  max-width: 800px;
  text-align: left;
  margin-top: 1em;
}

.contact-column  {
  margin-top: 4em;
}

.section-title {
  font-size: 1.45rem;
}
.imprint-content {
  line-height: 1.6;
}

.imprint-text p {
  margin-bottom: 0;

}

.imprint-text {
  color: #444;

}

.imprint-text h3 {
  font-size: 1.45rem;
  font-weight: 600;

}

.no-content-message {
  text-align: center;
  color: #666;
  font-style: italic;
}

/* mprint-privacy links*/
.site-footer {
  background-color: #f8f8f8;
  padding: 20px 0;

  color: #666;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.contact-info p {
  margin: 0 0 5px 0;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.footer-links a {
  color: black;
  text-decoration: none;

}

.footer-links a:hover {
  color: #9D9D9C;
}

.footer-links span {
  margin: 0 10px;
}


@media (max-width: 576px) {

.contact-container {
  font-size: 1em;
  font-weight: 600;

}

.contact-sections {

  gap: 14px;
}

.contact-column {
  max-width: 50%;
}

.section-title {
  font-size: 1em;
  margin-bottom: 0;
}

.section {
  margin-top: 1em;
}
.imprint-container{
  padding: 1em 0;
  text-align: left;

}

.social-links {
  margin-top: 2em;
}

.imprint-header h1 {
  font-size: 1em;
}

.imprint-text {
  font-size: 1em;
}

.imprint-text p {
  margin-bottom: 0;
  font-size: 1em;
}

.imprint-text h3 {
  font-size: 1em;
}

.footer-links {
  font-weight: 600;
}

}

@media (min-width: 577px) and (max-width: 768px) {
  .contact-container {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.2rem;
  }


}
