body {
  margin: 0;

}

.navbar {
  background-color: #97D6B8;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
}


.menu {
  position: fixed;
  top: 0;
  right: -100vw; /* Fully offscreen by default */
  width: 100vw;
  height: 100vh;
  display: flex;
  transition: right 0.5s ease-in-out;
  z-index: 1000;
  background-color: #D1BCFF;
  box-sizing: border-box;
}

/* On homepage, slide out just the handle */
body.home .menu {
  right: calc(-100vw + 80px);
}

.menu.open {
  right: 0; /* This must come after the above rules */
}


.menu-handle {
  width: 80px;
  background-color: #D1BCFF;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}


body.home .menu.open {
  right: 0;
}



.menu.open .menu-handle {
  background-color: white;
  display: flex;
}




.menu a {
  text-decoration: none;
  color: black;
  font-size: 50px;
  margin: 20px;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid black;
}

.menu-handle {
  display: none;
}
body.home .menu-handle {
  display: flex;
}

body.home .menu {
  right: calc(-100vw + 80px);
}

body.home .menu-handle {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: black;
}

.logo {
  font-size: 35px;
}

.menu-icon {
  padding-bottom: 5px;
}




@media (max-width: 768px) {
  .logo a {
    font-size: 20px;
  }



  .menu a {
    padding:5px;
    font-size: 35px;
  }

  .close-btn {
    top: 0;
    right: 15px;
  }

  .navbar {
    padding: 0 10px;
    height: 50px;
  }

  .navbar > * {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu-handle {
    width: 50px;
  }

  body.home .menu {
    right: calc(-100vw + 50px);
  }
}
