.news-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2.3em;
  cursor: default;
  line-height: 1.3em;
  font-size: 1.45em;
  font-weight: 500;
  color: black;
}

.news-container:first-child {
  margin-top: 9em; /* Pushes the first item below the navbar */
}
.news-item {
  margin-bottom: 0;
}

.news-item.title {
  font-style: italic;
}

p.recent {
  margin-bottom: 1em;
}
.web a {
  color: black;
}
