
.work-caption {
  display: none;
}


.works-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  row-gap: 80px;

}



.work-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* This creates a square aspect ratio */
  overflow: hidden;
}


/* keeps actual image size */
.work-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


.works-card a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Hover effect for works card */
.works-card:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

/* Ensure image inside the works card scales correctly */
.works-card img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image stays within the bounds of the card */
  transition: transform 0.3s ease;
}

/* Hover effect on image */
.works-card:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

/* Work Info Styling */
.work-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

/* Style for the filter buttons (if needed) */
.filter {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2.5em auto 3em auto;
}

.filter-button  {
  border: none;
  cursor: pointer;
  color: #9d9d9c;
  font-size: 1.6em;
  padding-right: 11px;
  padding-left: 11px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
  background-color: white;
  outline: none;
}

.filter-button:focus:not(:focus-visible) {
  outline: none; /* Removes outline for mouse interactions */
}

.filter-button.active, .filter-button:hover {

  color: black;
}
.fancybox__container {
  display: flex;
  flex-direction: column;
  background-color: white !important;

}
.fancybox__image {
  overflow: hidden;
}

.fancybox__toolbar {
  background: none !important;
}
.fancybox__caption {
  font-family: "minion-3", serif !important;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  color: black;
  text-align: center
}




.fancybox__caption em {
  font-family: "minion-3", serif !important;
  display:inline;
}

.fancybox__image {
  max-width: 100% !important;
  max-height: 100% !important;

}

.fancybox__slide.can-zoom_in {
  cursor: default !important;
  pointer-events: none;
}


.gallery-fancybox,
.fancybox__container,
.fancybox__backdrop,
.fancybox__carousel,
.fancybox__slide,
.fancybox__content {
    background-color: white;
}

.fancybox__container .fancybox__caption,
.fancybox__container .fancybox__toolbar,
.fancybox__container .fancybox__nav {
  font-family: "minion-3", serif !important;

}

.carousel-control-prev,
.carousel-control-next {
  display: none;
  }

  .fancybox__nav {
   display: none;
  }


body.fancybox-open .navbar-toggler {
  display: none !important;
}

.fancybox__button--close {
  z-index: 99999;
  pointer-events: auto !important;
  transform: scale(1.5);
  box-shadow: none !important;
  --carousel-button-svg-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0)) !important;
}

.carousel__button svg circle {
  stroke-width: 0;
}

.carousel__button svg g {
  stroke-width: 0;
}

.carousel__button svg {
  stroke-width: 1;
  color: rgb(67, 65, 65);
}

button.carousel__button.fancybox__button--zoom {
  display: none;
}
.fancybox__counter {
  position: absolute;
  font-size: 1.1em !important;
  color: black;
  z-index: 1000;
  text-shadow: var(--fancybox-toolbar-text-shadow, 0 0 0 rgba(0, 0, 0, 0)) !important;
}
